body {
  font-family: 'VT323', "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 2em;
  background-color: rgb(233, 233, 233);
}

/*Char and weapon page*/

#choosey,
#weapons {
  margin: 5%;
  border: 10px solid #b22222;
  border-radius: 1em;
}

.choose {
  text-align: center;
  margin: 1em auto;
}

/*Fight page*/

#fight {
  border: 10px solid #b22222;
  border-radius: 1em;
}
.attackBtn {
  text-align: center;
}

.battleLog {
  border: 3px solid #b22222;
  border-radius: 1em;
}

#heroInfo,
#enemyInfo {
  color: blue;
  font-size: 1.5em;
  text-align: center;
}
#currentEnemyHealth,
#currentHeroHealth {
  color: green;
  font-size: 1.5em;
  text-align: center;
}

/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

