body {
  font-family: 'VT323', "Helvetica", "sans-serif";
  margin: 0;
  padding: .5em;
  font-size: 2em;
  background-color: rgb(233, 233, 233);
}
img {
  margin: auto;
}

/*Char and weapon page*/

#choosey,
#weapons {
  margin: 5%;
  border: 10px solid #b22222;
  border-radius: 1em;
}

.choose {
  text-align: center;
  margin: 1em auto;
  font-size: 1.2em;
}

/*Fight page*/

#fight {
  border: 10px solid #b22222;
  border-radius: 1em;
}
.attackBtn {
  text-align: center;
}

.battleLog {
  border: 3px solid #b22222;
  border-radius: 1em;
}

#heroInfo,
#enemyInfo {
  color: blue;
  font-size: 1.5em;
  text-align: center;
}

#currentEnemyHealth,
#currentHeroHealth {
  color: green;
  font-size: 1.5em;
  text-align: center;
}
#heroimg {
  margin: auto;
}

/*Modal styling*/
.modalDiv {
  text-align: center;
}

/*  Button styles*/


.btn {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 5px;
  width: 50%;
}

